.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  margin-bottom: 20px;
}

.App-input {
  width: 100%;
  margin: 0 auto 10px;
}

.App-input > input {
  height: 38px;
  font-size: 16px;
  padding: 6px 12px;
  display: block;
}

.App-p-error-message {
  color: #df9797;
  font-size: 0.6em;
  text-align: left;
  height: 12px;
  line-height: 12px;
}

.App-button {
  width: 200px;
}

.App-link {
  font-size: 0.6em;
  color: #61dafb;
  margin-top: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
